html, body, p, a, div, li, dd, dt {
  font-size: 12px;
}

form.openid, p.openid {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  border: thin orange;
  border-style: none none solid solid;
  background-color: yellow;
  padding: 3px;
}

form > dl, form > dl > dt.label, form > dl > dt.label + dd {
  text-indent: 0;
  padding: 3px;
  margin: 0;
  display: inline;
}

form.inlineedit {
  display: inline-block;
  padding: 0;
  margin: 0;
}

p.openid > a.logout {
  padding: 0 3px;
  border-left: thin orange solid;
}

div.flash {
 padding: 3px;
 margin: 0;
 position: absolute;
 bottom: 0;
 left: 0;
 border-style: solid solid none none;
 border-width: thin;
}

div#flash_error {
  border-color: red;
  background: pink;
  color: red;
}

div#flash_success {
  border-color: green;
  background: lime;
  color: green;
}

h1 {
  font-family: fantasy;
  color: darkgreen;
}

#nav {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

#nav > li {
  display: inline;
  border-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

h2 {
  display: inline;
}

#nav a, h2 {
  margin: 3px;
  font-size: 20px;
  border-style: none solid solid none;
  border-width: medium thin medium thin;
  border-color: orange;
  padding: 10px;
  color: red;
  text-decoration: none;
}

#nav a:hover {
  background-color: greenyellow;
  border-style: none solid solid none;
  border-width: thick medium thick medium;
}

#nav a.current, h2 {
  background-color: gold;
  font-weight: bold;
  border-style: solid solid solid solid;
  border-width: thick thin thin medium;
}

h3 {
  color: darkgreen;
  padding-top: 1em;
  border-bottom: orange thin solid;
}

ul.items {
  list-style-type: none;
  margin: 1em 0 1em 0;
  padding: 0;
  text-indent: 0;
}

ul.items > li {
  float: left;
  width: 20%;
  border-left-style: solid;
  padding-left: 10px;
  margin: 3px;
  border-left-width: 1em;
  border-color: orange;
  text-indent: 0;
}

ul.items + * {
  clear: both;
}

dl.recipes > dt {
  clear: both;
  width: 11%;
  float: left;
  text-align: right;
  border-right: solid orange thin;
  padding-right: 6px;
  margin: 3px 0;
}

dl.recipes > dd {
  float: left;
  width: 10%;
  text-indent: 0;
  margin: 3px 0;
  padding: 0 4px 0 4px;
  border-right: dotted orange thin;
}

dl.recipes + * {
  clear: both;
}

